# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
.ENV/

# Streamlit cache and logs
.streamlit/config.toml
.streamlit/*.json
.streamlit/*.log

# Mac system files
.DS_Store

# VSCode
.vscode/

# Environment variables
.env